# ==========================================
# template do .env - copie e renomeie para .env
# ==========================================

# URL do Supabase (Painel API) - pedir para o gustavo
SUPABASE_URL=

# Chave de Serviço (secret) - pedir para o gustavo
SUPABASE_SERVICE_KEY=

# String de Conexão do Pooler (Porta 6543) - pedir para o gustavo
DATABASE_URL=

# Chave Anônima Pública (para o Frontend)
SUPABASE_ANON_KEY= 